
/* =============================================================================
   Theme
   ========================================================================== */

body {
	font-size: 12px;
}

#wrap {
	width: 960px;
	margin: 20px auto;
	background: #eee url(../img/retina_dust.png) 0 0 repeat;
	.box-shadow(0,0,10px,rgba(0,0,0,0.25));
}

#header {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	#site-title {
		padding: 20px;
	}

	#call {
		text-align: right;
		padding: 20px;

		h4 {
			font-size: 11px;
			text-transform: uppercase;
		}

		.tel {
			font-size: 28px;
			font-weight: bold;
		}
	}
}

#banner {
	background: url(../img/banner_glow.png) center center no-repeat;
}

.flexslider {
	background: none;
	margin: 0;
	border: 0;
	.border-radius(0);

	.flex-control-paging {
		bottom: 10px;
	}
}

#main {
	padding: 20px;

	.page-title {
		margin-top: 0;
		text-align: center;
	}

	.cta {
		margin: 20px;
		padding: 20px 20px 20px 100px;
		background: url(../img/clipboard.png) left center no-repeat;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
	}

	.iphorm-outer {
		margin: 20px 0;
		padding: 20px;
		background: #fff;
		.box-shadow(0,0,10px,rgba(0,0,0,0.25));

		.iphorm-title {
			text-transform: uppercase;
		}

		.iphorm-element-textarea,
		.iphorm-element-text {
			width: 100%;
		}

		.iphorm-labels-above > .iphorm-element-spacer > label {
			position: relative;
			padding-bottom: 4px;
		}

		.iphorm-submit-wrap {
			margin: 0 -20px -20px -20px;
			padding: 20px;
			background: #eee;
		}

		.iphorm-submit-input-wrap {
			float: right;
		}

		.iphorm-edit-form-wrap {
			display: none;
		}
	}
}

#sidebar {
	background: #eee;
	border: solid #ddd;
	border-width: 1px 0;

	.widget {
		width: 33.333%;
		float: left;
		padding: 20px;

		.widget-title {
			margin-top: 0;
		}
	}
}

#footer {
	padding: 20px 0;
	font-size: 10px;
	color: #777;

	#footer-nav, #copy {
		padding: 0 20px;
	}

	#copy {
		text-align: right;
	}
}