
/* =============================================================================
   Theme
   ========================================================================== */

#wrap {
	width: 960px;
	margin: 20px auto;
	background: #eee url(../img/retina_dust.png) 0 0 repeat;
}