
/* =============================================================================
   Theme
   ========================================================================== */

#wrap {
	width: 960px;
	margin: 20px auto;
	background: #eee url(../img/retina_dust.png) 0 0 repeat;
}

#header {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	#site-title {
		padding: 20px;
	}

	#call {
		text-align: right;
		padding: 20px;

		h4 {
			font-size: 0.9em;
			text-transform: uppercase;
		}

		.tel {
			font-size: 2em;
			font-weight: bold;
		}
	}
}

#banner {
	background-image: url(../img/banner_glow.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#main {
	padding: 20px;

	.page-title {
		margin-top: 0;
		text-align: center;
	}

	.cta {
		text-align: center;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
	}
}